/* AZZERAMENTO MARGINI E BORDI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bottone1 {
    background-color: #0066ff; 
    color: white;
    padding: 7px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
    margin-left: 60px;
  }

  .bottone2 {
    background-color: white; 
    color: lightgray;
    border: 1px solid lightgray;
    border-color: lightgray;
    padding: 6px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    border-radius: 8px;
  }

body {background-color: rgb(241, 241, 241);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 20px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.contenitore-bottoni {
    width: 800px;
    height: 50px;
    margin: auto;
    background-color: white;
    margin-top: 50px;
    padding-top: 12px;
    
}

.contenitore-task {
    width: 800px;
    height: 550px;
    margin: auto;
    background-color: white;
    margin-top: 5px;
    
}

.tag {
        display: inline-block;
        color: white;
        border-radius: 8px;
        padding: 5px;
        font-size: 10px;

}

.tag-blu {
    background-color: rgb(0, 191, 255);
}

.tag-viola {
    background-color: rgb(119, 60, 173);
}

.tag-verdescuro {
    background-color: green;
}

.tag-arancio {
    background-color: orange;
}

.tag-rosa {
    background-color: pink;
}

.tag-verdechiaro {
    background-color: lightgreen;
}

.cerchietto-verde {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid green;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: green;
}

.cerchietto-rosso {
    display: inline-block;
    height: 15px;
    width: 15px;
    border: 1px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 15px;
    color: red;
}

.lista-task {
    margin-left: 60px;
}


