/* AZZERAMENTO MARGINI E BORDI */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {background-color: lightgrey;
}

header {
    padding: 20px;
    background-color: white;
}

.logo {
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.contenitore-task {
    width: 800px;
    margin: 0 auto;
    background-color: white;
    margin-top: 50px;
}

.tag {
        display: inline-block;
        color: white;
        border-radius: 10px;
}